{
  "cpus": "1",
  "disk_size": "10240",
  "memory": "1024",
  "revision": "12.2",
  "branch": "-BETA2",
  "build_date": "",
  "svn_revision": "",
  "directory": "releases",
  "arch": "amd64",
  "guest_os_type": "FreeBSD_64",
  "filesystem": "zfs",
  "mirror": "https://download.freebsd.org/ftp",
  "rc_conf_file": ""
}
