arch            = "amd64"
branch          = "RELEASE"
build_date      = ""
cpus            = 1
directory       = "releases"
disk_size       = 10240
filesystem      = "zfs"
zfs_compression = "zstd"
git_commit      = ""
guest_os_type   = "FreeBSD_64"
memory          = 1024
mirror          = "https://download.freebsd.org"
rc_conf_file    = ""
revision        = "14.3"
