{
  "cpus": "1",
  "disk_size": "10240",
  "memory": "1024",
  "revision": "12.0",
  "branch": "-ALPHA3",
  "build_date": "-20180824",
  "svn_revision": "-r338287",
  "directory": "snapshots",
  "arch": "amd64",
  "guest_os_type": "FreeBSD_64",
  "filesystem": "zfs",
  "mirror": "https://download.freebsd.org/ftp",
  "rc_conf_file": ""
}
