name: box

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  validate:
    runs-on: ubuntu-latest
    name: Validate

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup Packer
        uses: hashicorp/setup-packer@main

      - name: Initialize Packer
        run: packer init .
        env:
          PACKER_GITHUB_API_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

      - name: Validate Template
        run: packer validate .

  qemu:
    runs-on: macos-latest
    name: QEMU Builder
    needs: validate

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Initialize Packer
        run: packer init .
        env:
          PACKER_GITHUB_API_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

      - name: Where is OVMF_CODE.fd?
        run: |
          cd /usr/local
          find . -name OVMF_CODE.fd

      - name: Build the Box
        run: packer build -only=qemu.freebsd .
        env:
          ntpdate_hosts: ntp.ubuntu.com

  virtualbox:
    runs-on: macos-latest
    name: VirtualBox Builder
    needs: validate

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Initialize Packer
        run: packer init .
        env:
          PACKER_GITHUB_API_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

      - name: Build the Box
        run: packer build -only=virtualbox-iso.freebsd .
        env:
          ntpdate_hosts: ntp.ubuntu.com
